.search-box {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}

.search-box > * {
  width: 100%;
  display: block;
}

.search-box label {
  margin-bottom: 5px;

}

.food-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.single-food {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  height: 150px;
  /*----------------*/
  width: 50%;
  /*---------------*/
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.single-food h3 {
  font-size: 1em;
}

.single-food .food-calories {
  font-size: 0.5em;
  color: #ffcccc;
}

.single-food img {
  width: 25%;
  height: 150px;
  float: left;
  border-radius: 50%;
}

.new-food {
  overflow: auto;
}

.new-food-button {
  float: left;
  width: 20%;
  display: block;
}

.my-food-list {
  float: right;
  width: 45%;
}

.foods {
  width: 45%;
  display: inline-block;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.list-group-item:hover .image {
  opacity: 0.3;
}

.list-group-item:hover .middle {
  opacity: 1;
}
